<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee|Raleway|Titillium+Web" rel="stylesheet">
  </head>
  <body>
    <h1 class="greeting">Welcome back, {{ username }}!</h1>

    <h3>Create a new snippet</h3>
    <form method="post" action="/create">
      <input type="text" name="title" placeholder="Enter title"><br>
      <span id="need-title">{{ needTitle }}</span><br>
      <textarea name="body" rows="10" cols="200" placeholder="Type your snippet here..."></textarea><br>
      <span id="need-body">{{ needBody }}</span><br>
      <textarea name="notes" rows="3" cols="200" placeholder="Add notes here..."></textarea><br>
      <input type="text" name="language" placeholder="Enter language"><br>
      <span id="need-language">{{ needLanguage }}</span><br>
      <input type="text" name="tags" placeholder="Enter tags, separated by commas"><br>
      <span id="need-tags">{{ needTags }}</span><br>
      <input type="submit" value="Post your snippet" class="create-btn">
    </form>


    <h3> Snippets: </h3>
    <form method="post" action="/search">
      <label for="search">Search snippets by:</label>
      <select class="ui dropdown" name="searchtype">
        <option value="username">Username</option>
        <option value="language">Language</option>
        <option value="tag">Tag</option>
      </select>
      <input type="text" name="search" placeholder="Type searched item here..." class="search">
      <input type="submit" value="Search" class="search-btn">
    </form>
    <form method="post" action="/filter">
      <label for="filter">Filter snippets by:</label>
      <select name="filtertype" id="filter">
        <option value="all">All</option>
        <option value="mine">Mine</option>
        <option value="friends">Friends</option>
        <option value="favorited">Favorited</option>
      </select>
      <input type="submit" value="Filter" class="filter-btn">
    </form>
    <form method="post" action="/sort">
      <label for="sort">Sort snippets by:</label>
      <select name="sorttype" id="sort">
        <option value="dateascending">Date: Ascending</option>
        <option value="datedescending">Date: Descending</option>
        <option value="mostfavorited">Most favorited</option>
        <option value="leastfavorited">Least favorited</option>
      </select>
      <input type="submit" value="Sort" class="sort-btn">
    </form>
    <br>
    <span id="noresults">{{ noResults }}</span><br>
    <ul>
        {{ #snippets }}
        <li>
          <h4 id="snippet-title">{{ title }}</h4>
          <h5 id="snippet-details">Language: {{ language }} Author: {{ owner }} Posted on: {{ timestamp }}</h5>
          <span>{{ body }}</span><br>
          <span>Notes from author: {{ notes }}</span>
          <form method="post" action="/favorite">
            <input type="submit" value="Favorite this snippet" class="fave-btn">
          </form>
        </li>
        {{ /snippets }}
    </ul>

    <form method="post" action="/logout">
    <input type="submit" value="Log out">

  </body>
</html>
